@charset 'utf-8';

@import 'globals-default';
@import 'globals-modm';
@import 'settings';

// ManOnDaMoon Settings
$button-background: $secondary-color;
$button-background-hover: $dark-gray;
$button-color: $white;



@import 'foundation-core';
@import 'omeka';

// SWIPER

.resource.show #swiper {
	width: 100%;
}

.swiper-container, .swiper-wrapper {
	z-index: auto !important;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-zoom-container > img {
	max-height: 40rem !important;
}

.swiper-pagination-bullet-active {
	--swiper-pagination-color: #0a0a0a;
}

.swiper-button-disabled {
	--swiper-theme-color: $secondary-color;
}

.swiper-button-prev, .swiper-button-next {
	--swiper-theme-color: $primary-color;
}

// LINKS

.value a,
span a,
.browse-controls > a,
.preview-header > a {
	text-decoration: underline $secondary-color;	
}

.value a:hover,
span a:hover,
.browse-controls a:hover,
.preview-header a:hover{
	color: $secondary-color;
}

.menu a:hover,
h3 a:hover,
h4 a:hover,
span a:hover {
	color: $secondary-color
}


// THUMBNAIL BORDER

.thumbnail, .media-list img {
	box-shadow: none;
}

// HEADER COLOR

.top-bar, .top-bar ul {
	background-color: $primary-color;
	color: $white;
}

.top-bar a {
	color: $white;
}

.top-bar a:hover {
	color: $secondary-color;
}

.dropdown.menu>li.is-active>a,
.toc-block>ul.dropdown>li.is-active>a,
.toc-block ul ul.dropdown>li.is-active>a {
	color: $secondary-color;	
}

// SITE LOGIN

.site-login {
	max-width: 400px; 
}
