@charset 'utf-8';

@import 'globals-default';
@import 'globals-modm';
@import 'settings';

// #. ManOnDaMoon Settings
// -----------------------

// Top bar & menus
$topbar-background: $primary-color;
$topbar-submenu-background: $primary-color;


$menu-item-color-active: $white;
$menu-item-background-active: $primary-color;

$dropdownmenu-arrow-color: $white;
$dropdownmenu-background: $primary-color;
$dropdownmenu-submenu-background: $primary-color;
$dropdownmenu-border: none;
$dropdown-menu-item-color-active: $white;
$dropdown-menu-item-background-active: $primary-color;

$button-background: $secondary-color;
$button-background-hover: $light-gray; // #fcbe03 might be nice
$button-color: $white;


@import 'foundation-core';
@import 'omeka';


// #. Light Slider / Gallery
// ------------------

.media-slider {
	width: auto;
	max-width:100%;
	
	.vertical-menu & {
		max-width: 800px;
		min-width: 0;
	}
	
	height: auto;
	margin-right: auto;
	margin-left: auto;

	& .lSAction > a {
		background-image: none !important;
		font-size: 32px;
		margin: auto;
	}
	
	& li img {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	& .lSPager {

		& li {
			border-radius : 0 !important;
			& img {
				padding: 5px;
			}
		}
	}

}

/* .lSPager img { */
/* 	height: 2rem !important; */
/* 	width: auto !important; */
/* } */

// #. Content Links
// ------------------

#content .value > a,
#content span a,
#content .browse-controls > a,
#content .preview-header > a{
	text-decoration: underline $secondary-color;	
}

#content .vertical.menu a {
	font-size: 1.25rem;
}

#content .value a:hover,
#content span a:hover,
#content .browse-controls a:hover,
#content .preview-header a:hover,
#content .preview-block a:hover,
#content .vertical.menu a:hover{
	color: $secondary-color;
}

.top-bar a {
	color: $white;
	&:hover {
		color: $secondary-color;
	}
}

.menu .active a {
	background: $primary-color;
    color: $white;
    &:hover {
    	color: $secondary-color;
    }
}

// #. Thumbnail borders
// ------------------

.resource-grid .thumbnail, .media-list img {
	box-shadow: none;
}


// #. Login Form
// ------------------

.site-login {
	max-width: 400px; 
}
