@charset 'utf-8';

@import 'globals-default';
@import 'globals-modm';
@import 'settings';

// ManOnDaMoon Settings
$button-background: $secondary-color;
$button-background-hover: $dark-gray;
$button-color: $white;
$dropdownmenu-arrow-color: $white;


@import 'foundation-core';
@import 'omeka';

// ------ SWIPER

@import 'swiper/swiper';
@import 'swiper/components/lazy/lazy';
@import 'swiper/components/navigation/navigation';
@import 'swiper/components/pagination/pagination';
@import 'swiper/components/thumbs/thumbs';


// ------ MEDIA SLIDER 

.media-slider {
	width: 100%;
}

.swiper-lazy-loaded {
	display: block;
	max-height: 30rem;
	margin-left: auto;
	margin-right: auto;
}


.swiper-pagination-bullet-active {
	--swiper-pagination-color: #0a0a0a; // $primary-color not working here
}

.swiper-button-disabled {
	--swiper-theme-color: $secondary-color;
}

.swiper-button-prev, .swiper-button-next {
	--swiper-theme-color: $primary-color;
}


// ------ THUMB SLIDER

.thumbs-slider {
	width: 100%;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.thumbs-slider .swiper-container{
  width: 100%;
}
.thumbs-slider .swiper-wrapper {
  width: 50%;
}
.thumbs-slider .swiper-slide {
  text-align: center;
  width: auto;
}
.thumbs-slider img {
  max-height: 5rem;
  @include thumbnail;
  width: auto;
}

.thumbs-slider .swiper-slide-thumb-active img {
	box-shadow: 0 0 6px 1px rgba($primary-color, 0.5);
}

// LINKS

.value a,
span a,
.browse-controls > a,
.preview-header > a {
	text-decoration: underline $secondary-color;	
}

.value a:hover,
span a:hover,
.browse-controls a:hover,
.preview-header a:hover{
	color: $secondary-color;
}

.menu a:hover,
h3 a:hover,
h4 a:hover,
span a:hover {
	color: $secondary-color
}


// THUMBNAIL BORDER

.thumbnail, .media-list img {
	box-shadow: none;
}

// HEADER COLOR

.top-bar, .top-bar ul {
	background-color: $primary-color;
	color: $white;
}

.top-bar a {
	color: $white;
}

.top-bar a:hover {
	color: $secondary-color;
}

.dropdown.menu>li.is-active>a,
.toc-block>ul.dropdown>li.is-active>a,
.toc-block ul ul.dropdown>li.is-active>a {
	color: $secondary-color;	
}

// SITE LOGIN

.site-login {
	max-width: 400px; 
}